/* .profile {
  background-color: #D9D9D9;
  padding: 1px;
  border-radius: 8px;
  margin-bottom: 10px;
} */
.profile {
  background-color: #f0f0f0;
  padding: 5px;
  margin-right: 10px; /* space between cards */
  flex: 1; /* allow it to shrink/grow nicely */
  max-width: 250px; /* or set specific width like 25% if you want fixed */
  box-sizing: border-box;
  border-radius: 8px;
}


.profile h3 {
  color: #003366;
}

.profile ul {
  list-style: none;
  padding: 0;
}

.profile ul li {
  margin: 5px 0;
}

.quick-links h4 {
   background-color: #26208E; /* or any color you like */
  color: white;
  padding: 8px 12px;
  margin: 0 0 10px 0;
  border-radius: 4px; /* rounded corners, optional */
  font-size: 16px;
}


.ict-services h4 {
  background-color: #26208E; /* or any color you like */
  color: white;
  padding: 8px 12px;
  margin: 0 0 10px 0;
  border-radius: 4px; /* rounded corners, optional */
  font-size: 16px;
}

.documents-repository h4 {
     background-color: #26208E; /* or any color you like */
  color: white;
  padding: 8px 12px;
  margin: 0 0 10px 0;
  border-radius: 4px; /* rounded corners, optional */
  font-size: 16px;
}

.gvtlogo {
  width: 25px; /* Adjust size */
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
}
.bmhlogo {
  width: 25px; /* Adjust size */
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.clickable-item {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.clickable-item:hover {
  color: #0056b3;
}

.nested-list {
  list-style-type: circle;
  margin-left: 20px;
}

.nested-list li a {
  text-decoration: none;
  color: #333;
}

.nested-list li a:hover {
  color: #007bff;
}
