.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('../assets/bmhintranettt.jpg'); /* use your image file */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 20px;
  color: white;
  height: 80px;
}

.topbar .left-logo img,
.topbar .right-logo img {
  height: 80px;
}

.topbar .title {
  text-align: center;
  flex: 1;
}

.topbar .title h2 {
  margin: 0;
  font-size: 22px;
}

.topbar .title h3 {
  margin: 0;
  font-size: 16px;
}
